body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  color: #212529;
  background: #fff;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.info-part {
  text-align: center;
  margin-top: 15px;
}
.title {
  font-size: 25px;
  font-weight: 300;
}
.title-section {
  font-size: 23px;
  font-weight: 400;
  text-align: left;
  margin: 20px 20px 0;
}
.price-title {
  display: block;
  font-size: 15px;
  font-weight: 300;
}
.price {
  font-size: 15px;
  font-weight: 200;
}
.text{
  margin: 10px 20px 0;
}
.select-wrapper {
  position: relative;
  margin-top: 15px;
}
.select-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  pointer-events: none;
  border-width: 15px 9px 0 9px;
  border-color: #8c8c8c transparent transparent transparent;
  border-style: solid;
}
.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #424242;
  background-color: transparent;
  outline: none;
  padding: 15px 35px 15px 15px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  width: 100%;
  cursor: pointer;
}
.select:focus {
  box-shadow: 0px 0px 0px 1px #4b4e51, 0px 0px 10px #4b4e51;
}
.select::-ms-expand {
  display: none;
}
.input-checkbox{
  cursor: pointer;
}
.input__size{
  display: flex;
  justify-content: space-between;
}
.input-number{
  background-color: transparent;
  outline: none;
  padding: 15px;
  border: 1px solid #424242;
  border-radius: 10px;
  width: 49%;
  margin-top: 20px;
  font-size: 20px;
}
.input-number:focus{
  box-shadow: 0px 0px 0px 1px #4b4e51, 0px 0px 10px #4b4e51;
}
::placeholder{
  font-size: 20px;
}
#mirror,#thickness-4mm,#thickness-5mm,
#thickness-6mm,#thickness-8mm,#thickness-10mm,
#thickness-12mm,#thickness-15mm,#thickness-19mm{
  display: none;
}

.cutting{
  margin-top: 20px;
}
.cutting-radio{
  display: flex;
  flex-direction: column;
}
.servise-scanning{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scanning{
  display: none ;
}
.servise-milling{
  margin-top: 20px;
}
.milling-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-milling{
  display: none;
}
.milling-processing{
  margin-top: 10px;
  display: none;
}
.add-services__processing{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.corner{
  display: none;
}
.radio-box__facet{
  margin-top: 15px;
  margin-bottom: 15px;
  display: none;
}
.holes{
  margin: 0;
  width: 100%;
}
.holes-box{
  display: grid;
  grid-template-columns:1fr 1fr;
  gap: 2%;
}
.holes-box__right{
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.checkbox-wrapper__holes,.checkbox-wrapper__cutout{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.active-holes{
  display: none;
}
.price-triplex__holes{
  display: block;
  font-size: 15px;
  font-weight: 300;
}
.checkbox-inner{
  margin-top: 20px;
}
.cutout-accessories,.cutout-bra{
  display: none;
}
.price-section{
  display: block;
}
.fuzing-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.packaging-inner{
  margin-top: 20px;
}
.input-packaging{
  display: none;
}
.delivery{
  margin-bottom: 17vh;
}
.footer{
  width: 100%;
  position: fixed;
  z-index: 3;
  bottom: 0;
  background-color: #b5b4b48d;
}
.footer-inner{ 
  height: 15vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.total-price{
  font-size: 40px;
  margin-right: 30px;
}